{% extends "base.html" %}
{% block titulo %} Instalaciones {% endblock %}

<!-- Inicio del cuerpo -->
{% block cuerpo %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Actualizar Instalación
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Instalación:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label >Dirección:</label>
                    {{ form.direccion }}
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Iluminación:</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            {{ form.iluminacion }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_cubierta" class="col-sm-3 col-form-label">Cubierta:</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            {{ form.cubierta }}
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{% url 'AppTorremolinos:listado_instalaciones' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<!-- Fin del cuerpo -->
{% endblock %}
