{% extends "base.html" %}
{% block titulo %} Equipo {% endblock %}
{% block cuerpo %}
{% load static %}




{% comment %} <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Equipo</th>
                <th scope="col">Deporte</th>
                <th scope="col">Equipación Principal</th>
                <th scope="col">Equipación Suplente</th>
                <th scope="col">Contacto</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col" colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{equipo.id_equipo}}</td>
                <td>{{equipo.nombre}}</td>
                <td>{{equipo.id_deporte.nombre}}</td>
                <td>{{equipo.equipacion_principal}}</td>
                <td>{{equipo.equipacion_suplente}}</td>
                <td>{{equipo.contacto}}</td>
                <td>{{equipo.telefono}}</td>
                <td>{{equipo.email}}</td>  
            </tr>
        </tbody>
    </table>
</div> {% endcomment %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle del Equipo</h5>
            <div class="card-text">
                <p><strong>ID:</strong> {{ equipo.id_equipo }}</p>
                <p><strong>Equipo:</strong> {{ equipo.nombre }}</p>
                <p><strong>Deporte:</strong> {{ equipo.id_deporte.nombre }}</p>
                <p><strong>Equipación Principal:</strong> {{ equipo.equipacion_principal }}</p>
                <p><strong>Equipación Suplente:</strong> {{ equipo.equipacion_suplente }}</p>
                <p><strong>Contacto:</strong> {{ equipo.contacto }}</p>
                <p><strong>Teléfono:</strong> {{ equipo.telefono }}</p>
                <p><strong>Correo Electrónico:</strong> {{ equipo.email }}</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Dorsal</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores  %}
            <tr>
                <td>{{ jugador.dorsal }}</td>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.apellido1 }} {% if jugador.apellido2 %}{{jugador.apellido2}}{% else %} {% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" href="{% url 'AppTorremolinos:crear_jugador_equipo' equipo.pk %}"> Añadir Nuevo Jugador </a>
</div>



{% endblock %}
