{% extends "base.html" %}
{% block titulo %} App Torremolinos {% endblock %}
{% block cuerpo %}
{% load static %}

    <!-- Imagen de deporte -->
    <img src="{% static 'img/portada.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Imagen de deporte">

    <!-- Últimos cinco partidos jugados -->
    <div class="row">
        <div class="col-md-6">
            <h2>Últimos partidos jugados</h2>
            <ul class="list-group ">
                {% for partido in ultimos_partidos_jugados %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'AppTorremolinos:detalle_partido' pk=partido.id_partido %}" style="text-decoration: none; color: inherit;">
                        {{ partido.id_local.nombre }} vs {{ partido.id_visitante.nombre }}
                    </a>
                </li>
                {% empty %}
                <li class="list-group-item">No hay partidos jugados recientes</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Próximos cinco partidos por jugar -->
        <div class="col-md-6">
            <h2>Próximos partidos</h2>
            <ul class="list-group">
                {% for partido in proximos_partidos %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'AppTorremolinos:detalle_partido' pk=partido.id_partido %}" style="text-decoration: none; color: inherit;">
                        {{ partido.id_local.nombre }} vs {{ partido.id_visitante.nombre }}
                    </a>
                </li>
                {% empty %}
                <li class="list-group-item">No hay próximos partidos programados</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
