{% extends "base.html" %}
{% block titulo %} App Torremolinos {% endblock %}
{% block cuerpo %}
{% load static %}



<div class="container">
    <a class="btn btn-primary mb-3" href="{% url 'AppTorremolinos:crear_deporte' %}"> Añadir Deporte </a>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Lista de Deportes
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Deporte</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Inicio del bucle for -->
                        {% for deporte in listado_deportes %}
                        <tr>
                            <td>{{deporte.id_deporte}}</td>
                            <td>{{deporte.nombre}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones">
                                    <a class="btn btn-warning" href="{% url 'AppTorremolinos:actualizar_deporte' pk=deporte.id_deporte %}">Actualizar</a>
                                    <a class="btn btn-danger" href="{% url 'AppTorremolinos:borrar_deporte' pk=deporte.id_deporte %}">Borrar</a>
                                </div>
                            </td>
                        </tr>
                        <!-- Fin del bucle for -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<a class="btn btn-primary mb-3" href="{% url 'AppTorremolinos:crear_deporte' %}"> Añadir Deporte </a>




{% endblock %}
