{% extends "base.html" %}
{% block titulo %} Instalaciones {% endblock %}
{% block cuerpo %}
{% load static %}


        <div class="jumbotron text-center" style="background-color: transparent;">
            <h1 class="display-4" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Instalaciones</h1>
        </div>

<div class="container">
    <a class="btn btn-primary mb-3" href="{% url 'AppTorremolinos:crear_instalaciones' %}"> Añadir Instalación </a>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Lista de Instalaciones
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Instalación</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Iluminación</th>
                            <th scope="col">Cubierta</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Inicio del bucle for -->
                        {% for instalacion in listado_instalaciones %}
                        <tr>
                            <td>{{instalacion.id_instalacion}}</td>
                            <td>{{instalacion.nombre}}</td>
                            <td>{{instalacion.direccion}}</td>
                            <td>{% if instalacion.iluminacion %}Sí{% else %}No{% endif %}</td>
                            <td>{% if instalacion.cubierta %}Sí{% else %}No{% endif %}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones">
                                    <a class="btn btn-warning" href="{% url 'AppTorremolinos:actualizar_instalaciones' pk=instalacion.id_instalacion %}">Actualizar</a>
                                    <a class="btn btn-danger" href="{% url 'AppTorremolinos:borrar_instalaciones' pk=instalacion.id_instalacion %}">Borrar</a>
                                </div>
                            </td>
                        </tr>
                        <!-- Fin del bucle for -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>





{% endblock %}
