{% extends "base.html" %}
{% block titulo %} App Torremolinos {% endblock %}
{% block cuerpo %}
{% load static %}



<div class="container">
    <a class="btn btn-primary mb-3" href="{% url 'AppTorremolinos:crear_deporte' %}"> Añadir Deporte </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Deporte</th>
                <th scope="col" colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Inicio del bucle for -->
            {% for deporte in listado_deportes %}
            <tr>
                <td>{{deporte.id_deporte}}</td>
                <td>{{deporte.nombre}}</td>
                <td><a class="btn btn-warning" href="{% url 'AppTorremolinos:actualizar_deporte' pk=deporte.id_deporte %}">Actualizar</a></td>
                <td><a class="btn btn-danger" href="{% url 'AppTorremolinos:borrar_deporte' pk=deporte.id_deporte %}">Borrar</a></td>
            </tr>
            <!-- Fin del bucle for -->
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}
